body {
    background-color: rgb(41, 41, 41);
    color: white;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/*State paths*/
path {
    fill: gray;
    stroke: black;
    stroke-width: 1.5;
    transition: fill .4s ease;
    position: absolute;
}

path:hover {
    transform-origin: var(--center-x) var(--center-y);
    transform: scale(1.1);
    transition: 0s;
    stroke: white;
    stroke-width: 3px;
}

/*Details Pane when you hover over a state*/
#details-box {
    text-align: left;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Verdana, sans-serif;;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
    white-space: pre;
}

/*Background Animated*/
body {
    background-image:
        repeating-linear-gradient(-45deg,
            transparent,
            transparent 1rem,
            #00000009 1rem,
            #0000000a 2rem);
    background-size: 200% 200%;
    animation: barberpole 100s linear infinite;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

/*Buttons*/
button.ModelSelect {
    font-family: Verdana, sans-serif;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50px;
    padding: 8px 16px;
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    box-shadow:
    5px 5px 10px rgba(255, 255, 255, 0.25)  inset,
    -5px -5px 10px rgba(0, 0, 0, 0.5) inset;
}
button.ModelSelect:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.45);
    transition: 0.2s;
    scale: 110%;
}

button.ModelSelect:active {
    box-shadow: 
    -5px -5px 10px rgba(255, 255, 255, 0.25)  inset,
    5px 5px 10px rgba(0, 0, 0, 0.5) inset;
    background-color: rgba(0, 0, 0, 0.45);
}

/*Slider*/
.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    background: #1a2436;
    /* Grey background */
}

/*use # for ids*/
#myRange {
    background: #c52424;
    /* Grey background */
}

#slidervalue {
    color: blue;
    font-weight: bold;
}
