body {
    background-color: darkslateblue;
    color: white;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/*Details Pane when you hover over a state*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

path {
    fill: gray;
    stroke: black;
    stroke-width: 1.25;
    transition: fill .4s ease;
    position: relative;
}

path:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    stroke: white;
    stroke-width: 3px;
    z-index: 1;
    scale: 100%;
}

#details-box {
    text-align: left;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Verdana";
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
    white-space: pre;
}




/*Slider*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    background: #1a2436; /* Grey background */
}
  
 /*use # for ids*/ 
#myRange{
    background: #c52424; /* Grey background */
}

#slidervalue{
  color:blue;
  font-weight: bold;
}
