/* Variables */
:root {
    --maincolor: rgb(72, 61, 85);
    --seccolor: rgb(255, 255, 255);
    --shadecolor: rgba(0, 0, 0, 0.15);
}

/* General Layout */
body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--maincolor);
    font-family: "Verdana", sans-serif;
    color: var(--seccolor);
    text-align: center;
}

.container {
    position: relative;
    width: 98vw;
    height: 96%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    position: relative;
    padding: 15px 25px;
    overflow: auto;
    background-color: var(--shadecolor);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}

/* Specific Layout Elements */
.titlebox {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultbarbox {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modelpickerbox {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.optionsbox {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.mapviewbox {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding-top: 0;
    overflow: hidden;
    background-color: transparent;
    border: 3px dotted var(--seccolor);
    box-shadow: none;
}

.chartbox {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Typography */
h1,
h2 {
    margin: 0;
    color: var(--seccolor);
    transition: 2s;
}

hr {
    border: 0;
    border-top: 3px dotted var(--seccolor);
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li ul {
    padding-left: 20px;
}

a {
    color: var(--seccolor);
    text-decoration: none;
}

.title:hover {
    scale: 1.1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.25s;
}

.title {
    -webkit-text-fill-color: var(--seccolor);
    transition: 0.25s;
    background-clip: text;
    background-image: repeating-linear-gradient(to left, rgb(47, 56, 184), rgb(132, 139, 202) 50%, rgb(194, 127, 127) 50%, rgb(112, 22, 22));
}

/* Results Bar */
.resultbar {
    position: absolute;
    min-width: 98%;
    height: 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
    border: white 2px outset;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    transition: 2s;
}

.resultcenterline {
    position: absolute;
    z-index: 5;
    min-width: 0px;
    min-height: 50px;
    display: flex;
    border: rgba(255, 255, 255, 0.5) 2px solid;
    border-radius: 1px;
    transition: 2s;
}

.color-segment:nth-child(1) {
    background-color: rgb(0, 12, 65);
    transition: 2s;
}

.color-segment:nth-child(2) {
    background-color: rgb(19, 25, 109);
    transition: 2s;
}

.color-segment:nth-child(3) {
    background-color: rgb(24, 31, 121);
    transition: 2s;
}

.color-segment:nth-child(4) {
    background-color: rgb(41, 48, 141);
    transition: 2s;
}

.color-segment:nth-child(5) {
    background-color: rgb(63, 71, 167);
    transition: 2s;
}

.color-segment:nth-child(6) {
    background-color: rgb(95, 102, 197);
    transition: 2s;
}

.color-segment:nth-child(7) {
    background-color: rgb(129, 135, 216);
    transition: 2s;
}

.color-segment:nth-child(8) {
    background-color: rgb(173, 178, 242);
    transition: 2s;
}

.color-segment:nth-child(9) {
    background-color: rgb(242, 173, 173);
    transition: 2s;
}

.color-segment:nth-child(10) {
    background-color: rgb(215, 128, 128);
    transition: 2s;
}

.color-segment:nth-child(11) {
    background-color: rgb(195, 93, 93);
    transition: 2s;
}

.color-segment:nth-child(12) {
    background-color: rgb(163, 59, 59);
    transition: 2s;
}

.color-segment:nth-child(13) {
    background-color: rgb(137, 37, 37);
    transition: 2s;
}

.color-segment:nth-child(14) {
    background-color: rgb(121, 24, 24);
    transition: 2s;
}

.color-segment:nth-child(15) {
    background-color: rgb(105, 15, 15);
    transition: 2s;
}

.color-segment:nth-child(16) {
    background-color: rgb(65, 12, 0);
    transition: 2s;
}

.Barcountbox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.DemBarcount {
    position: relative;
    z-index: 5;
    padding: 5px 30px;
    text-align: left;
}

.RepBarcount {
    position: relative;
    z-index: 5;
    padding: 5px 30px;
    text-align: right;
}

/* Decorative Elements */
.stripe {
    background-image:
        repeating-linear-gradient(-45deg,
            transparent,
            transparent 1rem,
            #00000009 1rem,
            #0000000a 2rem);
    background-size: 150% 150%;
    animation: barberpole 100s linear infinite;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

/* Interactive Elements */
button {
    position: relative;
    padding: 10px 15%;
    margin: 4px;
    outline: 0;
    border: 0;
    background-color: var(--maincolor);
    font-family: "Verdana", sans-serif;
    color: var(--seccolor);
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

button:hover {
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    text-shadow: 0 3px 0 var(--seccolor);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3) inset;
    cursor: pointer;
}

button:active,
button.pressed {
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    text-shadow: 0 3px 0 var(--seccolor);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6) inset;
    cursor: pointer;
}

.buttonbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    margin-left: 5px;
    margin-top: 3px;
    padding: 0;
    text-align: center;
    align-items: flex-start;
    align-self: start;
}

button.ZoomButton {
    width: 45px;
    height: 45px;
    margin: 5px;
    padding: 0px;
    align-items: flex-start;
    background-color: var(--shadecolor);
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
}

button.ElectionType {
    padding: 10px 11px;
    margin: 5px 2px;
}

button.statecall {
    margin-top: 0;
    padding: 10px;
}

input {
    padding: 10px;
    margin: 0px;
    outline: 0;
    border: 0;
    background-color: var(--maincolor);
    font-family: "Verdana", sans-serif;
    font-size: 24px;
    line-height: 0%;
    color: var(--seccolor);
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translateY(3px);
}

select {
    padding: 10px;
    margin: 5px;
    outline: 0;
    border: 0;
    background-color: var(--maincolor);
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    color: var(--seccolor);
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.slider {
    width: 90%;
    height: 0px;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
    background-image: repeating-linear-gradient(to left, rgb(6, 11, 89), rgb(203, 207, 255) 50%, rgb(255, 203, 203) 50%, rgb(104, 3, 3));
}

.slider::-moz-range-thumb,
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--seccolor);
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.35);
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    width: 120px;
    padding: 5px 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--seccolor);
    text-align: center;
    border-radius: 6px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* SVG and Path Styles */
svg {
    position: relative;
    scale: 100%;
}

path {
    position: absolute;
    fill: var(--shadecolor);
    stroke: black;
    stroke-width: 1.5;
    transition: 0.5s;
}

.pres-model path.hovered,
.pres-model path:hover {
    stroke: white;
    stroke-width: 3px;
    transform: translateY(-5px);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.house-model path {
    stroke-width: 0.5;
}

.house-model path.hovered,
.house-model path:hover {
    stroke: white;
    stroke-width: 0.5px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.senate-model path.hovered,
.senate-model path:hover {
    stroke: white;
    stroke-width: 3px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

/* Details Box */
#details-box {
    position: fixed;
    z-index: 1;
    padding: 1rem;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: white;
    text-align: left;
    white-space: pre;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: opacity .4s ease;
}

/* Responsive Design */
@media screen and (max-width: 960px) {
    body {
        padding: 20px;
        align-items: flex-start;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .box {
        width: 100%;
        box-sizing: border-box;
    }

    .titlebox {
        order: 1;
    }

    .modelpickerbox {
        order: 2;
    }

    .resultbarbox {
        order: 3;
        height: 70px;
    }

    .resultbar {
        scale: 0.95;
    }

    .mapviewbox {
        order: 4;
        overflow: scroll;
    }

    .optionsbox {
        order: 6;
    }

    .chartbox {
        order: 5;
    }

    #details-box {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    button {
        padding: 10px 12px;
    }
}